@model PropertyManagementApp.Models.Messages

@{
    ViewBag.Title = "SendMgrMessage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SendMgrMessage</h2>

<h3>Your message was sent successfully.</h3>

@*<div>
    <h4>Messages</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Resident)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Resident)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BuildingName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BuildingName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Unit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecipientsUnit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecipientsUnit)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
