@model IEnumerable<PropertyManagementApp.Models.Vacancies>

@{
    ViewBag.Title = "ViewVacancies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Current Vacancies</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BuildingName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Unit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BuildingName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Unit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.ActionLink("See On Map", "Maps", "Home")
            @* create link to inquire/email *@
        </td>
    </tr>
}

</table>
