@model PropertyManagementApp.Models.Resident

@{
    ViewBag.Title = "Pay Rent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Please Verify that this information is correct.</h2>

@* If correct go to EnterPaymentAmount *@
<h4>If correct, <a href="../EnterPaymentAmount/@ViewBag.Id">click here</a> to enter your payment amount.<br />
    If incorrect, please @Html.ActionLink("click here", "SendToManager", "Messages") to contact your building's manager to update it.</h4>
<br />


<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Unit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>

    </dl>
</div>